@font-face {
  font-family: "BeVietnam";
  src: url("/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "BeVietnam";
  src: url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "OhnoFatface";
  src: url("/fonts/OhnoFatfaceDemo-12Pt.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F4F0E9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}


/*

  Header CSS

*/


.headerBox {
  height: 160px;
  max-width: 1650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 74px;
  /* padding-right: 77px; */
}

.navBar{
  width: 445px;
  display: flex;
  align-items: center;
  gap: 30px;
  line-height: 0;
}


.menuText {
  font-family: BeVietnam;
  font-weight: 600;
  font-size: 20px;
  color: #282828;
  white-space: nowrap;
}

.active{
  color: #DD5E1F !important;
}

@media screen and (min-width: 1px) and (max-width:1721px) {
  .headerBox {
    padding-right: 77px;
  }
}


/*

  Content

*/


.h3Title{
  font-family: OhnoFatface;
  font-size: 48px;
  color: #282828;
  padding-left: 74px;
  padding-right: 74px;
}

.subTitle{
  font-family: BeVietnam;
  font-weight: 600;
  font-size: 24px;
  padding-left: 74px ;
  padding-right: 74px ;
  padding-top: 24px;
}

.layoutContent{
  height: 440px;
  margin-top: 47px;
  padding-left: 74px;
  padding-right: 74px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
}

.layoutContentArticle{
  height: 440px;
  max-width: 1400px;
  margin-top: 47px;
  padding-left: 74px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow: scroll;
}

/*

  About

*/


.aboutText{
  font-family: BeVietnam;
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  color: #282828;
}

/*

  Footer

*/

.footerBox{
  margin-top: 43px;
  margin-bottom: 37px;
  padding-left: 74px;
  padding-right: 74px;
  display: flex;
  justify-content: space-between;
}

.footerText{
  max-width: 822px;
  font-family: BeVietnam;
  font-weight: 600;
  font-size: 14;
  color: #282828;
}

.underlined{
  color: #282828;
  position: relative;
}

.underlined::after{
  content:'';
  left: -1px;
  bottom: 1px;
  position: absolute;
  width: 98%;
  border-bottom: solid 2px #282828;
  margin: 0 2px;
}